html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-image: url("https://i.imgur.com/GMmCQHC.png");*/
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    max-width: 600px;
    padding: 30px 40px;
}

.row {
    display: flex;
    align-items: center;
}

.columnLeft {
    flex: 35%;
}

.columnRight {
    flex: 75%;
}

.center {
    justify-content: center;
}

.pulldown {
    margin-top: 25px;
}

.largeButton {
    width: 200px;
}

input {
    width: 100%;
    height: 35px;
}

select {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

select:hover {
    cursor: pointer;
}

.inst-text {
    font-size: 25px;
    color: #0e5308;
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #0e5308;
    font-size: 12px !important;
    font-weight: 300;
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
}

.btn-block:hover {
    color: #0e5308 !important;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}